[submodule "calabash"]
	path = calabash
	url = https://github.com/transpect/calabash-frontend
[submodule "xproc-util"]
	path = xproc-util
	url = https://github.com/transpect/xproc-util
[submodule "xslt-util"]
	path = xslt-util
	url = git@github.com:ryffine-inc/xslt-util.git
[submodule "idml2xml"]
	path = idml2xml
	url = git@github.com:ryffine-inc/idml2xml.git
[submodule "schema/hub"]
	path = schema/hub
	url = https://github.com/le-tex/Hub
